:root {
    --darkgray-color: #0F0F0F;
    --white-color: #FFFFFF;
    --gray-color: #c0c0c0;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--darkgray-color);
    color: var(--darkgray-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;

}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

form input:focus {
    outline: 1px solid var(--darkgray-color);
}

form button {
    border: none;
    background-color: var(--darkgray-color);
    color: var(--white-color);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
}

form button:hover{
    background: var(--gray-color);
}

form button:active{
    background: green;
}

.paragrafo-resultado, .erro {
    background-color: limegreen;
    padding: 10px 20px;
    border-radius: 10px;
}

.erro {
    background-color: red;
    border-radius: 10px;
}